--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.0
git+https://github.com/huggingface/transformers
accelerate
qwen-vl-utils
quanto
runpod
fastapi
uvicorn[standard]
gradio
requests
python-multipart
psutil
Pillow
